@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: 'bg-primary';
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white:#fff9;
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --border: 1rem solid var(var(--black));
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    --text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);

}

html{
    font-size: 80%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}


html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 5rem 10%;
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2rem;
    color: var(--black);
}



.header .navbar div{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: var(--black);
}

.header .navbar div:hover{  
    color:var(--main-color)
}

#login-btn{
    font-size: 1.5rem;
    cursor:pointer;
    color:var(--black);
}

.login{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(./Pictures/bg2.jpg) no-repeat;
        background-size: cover;
        background-position:center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border-radius: 10px;
    padding: 30px 40px;
}
 
.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--white);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: var(--white);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
/* #menu-btn{
    font-size: 1.5rem;
    cursor:pointer;
    color:var(--black);
    display: none;

} */


/* .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./Pictures/bg2.jpg) no-repeat;
    background-size: cover;
    background-position:center;
}

.signup .wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border-radius: 10px;
    padding: 30px 50px;
}

.signup .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 70px 0;
}

.signup .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--white);
    padding: 20px 45px 20px 20px;
} */


.signup{
    background: url(./Pictures/bg2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}

.signup .wrapper{
    width: 420px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border-radius: 10px;

}
.signup h1{
    margin-bottom: 1.2rem;
}

.signup form input{
    width: 90%;
    margin: 20px 0 20px 20px;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 40px;
    background: transparent;
    color: var(--white);
    font-size: 16px;
}
.signup input::placeholder{
    color: var(--white);
}

.signup .wrapper .btn{
    width: 90%;
    height: 45px;
    margin: 20px 0 20px 20px;
    padding: 12px 20px;
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
}

.venues{
    background: url(./Pictures/back.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}


.venues .venue-wrapper{
    width: 800px;
    height: 700px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border-radius: 10px;
}

.venues .venue-wrapper  h1{
    margin-bottom: 1.2rem;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.venue-wrapper label{
    display: block;
    font-weight: bold;
    color: var(--white);
    font-size: 16px;

}

.venue-wrapper .options{
    display: flex;
    align-items: center;

}

.venue-wrapper .options label{
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 70px;
    font-size: 16px;
}

.venue-wrapper .options input[type="checkbox"] {
    margin-right: 5px;
}

.venue-wrapper .venue-details span {
    color: var(--white);
    font-weight: bold;
    font-size: 16px;

}
.venue-wrapper .venue-details input{
    border: 2px solid rgba(255,255,255,.2);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: transparent;
}

.venue-wrapper .venue-details input::placeholder{
    color: var(--white);
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }
  
  .button-container button {
    width: 47%;
    padding: 10px 20px;
    background: var(--white);
    color: var(--black);
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .venue-wrapper .venue-details textarea{
    border-radius: 20px ;
  }

  .venue-wrapper .options-opt{
    display: flex;
    align-items: center;

}

.venue-wrapper .options-opt label{
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 14px;
}

.venue-wrapper .options-opt input[type="checkbox"] {
    margin-right: 2px;
}

.venues .venue-wrapper .btnn{
    width: 90%;
    height: 60px;
    margin: 20px 0 20px 20px;
    padding: 12px 20px;
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
    text-align: center;

}

.account{
    background: url(./Pictures/bg4.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    
}

.account .acc-wrapper{
    width: 500px;
    height: 320px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border-radius: 10px;

}

.account .acc-wrapper  h1{
    margin-bottom: 1.2rem;
    font-size: 40px;
    font-weight: bold;
}


.account .acc-wrapper .para p{
    margin-bottom: 1.4rem;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}


.account .acc-wrapper .btnn{
    width: 100%;
    height: 60px;
    margin: 20px 0 20px 20px;
    padding: 12px 20px;
    margin-left: 3px;
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
    text-align: center;
}









 












.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap:8rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
}

.services .box-container .box  img{
    height: 7rem;
    align-items: center;
    width: 22rem;
    color: var(--white);

}

.services .box-container .box h3{
    color: var(--black);
    font-size: 1.7rem;
}

.contact-box{
    background-color: var(--white);
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: var(--main-color);
    color: var(--white);
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: var(--main-color)
}
.button{
    background: var(--main-color);
    width: 100px;
    border: none;
    outline: none;
    color: var(--white);
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
}

.contact-left h3{
    color: var(--main-color);
    /* font-weight: 600; */
    margin-bottom: 30px;
}

.contact-right a{
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
    padding: 5px;
}

.contact-right a i{
    color: var(--white);
    padding-right:.5rem;
    transition: .2s linear;
}

.contact-right a:hover i{
    padding-right: 2rem;
}

/* .about-l{
    margin: 30px;
    padding: 5px;
}

.about-l h1{
    text-align: center;
    color: var(--black); 
}

.about-l p{
    text-align: center;
    padding: 3px;
    color: var(--black);
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--white);
    padding: 80px, 30px;
    box-shadow: var(--box-shadow);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutt{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(./Pictures/about.webp) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.text{
    font-size: 13px;
    color: var(--black);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.bg-primary{
    background-color: '7B1FA2';
}

.carousel{
    margin-top: 10px;
}
.carousel .carousel-inner  .carousel-item img{
    
    height: 450px;
}
.cards{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



















.footer{
    background: url(./Pictures/foot2.avif) no-repeat;
    background-size: cover;
    background-position: center;
   
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap:8rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right:.5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align:center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}

.footer .credit span{
    color: var(--main-color);
}

























































/* media responsive */

@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
    .wrapper{
        width: 320px;
        background: transparent;
        border: 1px solid rgba(255,255,255,.2);
        backdrop-filter: blur(20px);
        box-shadow: var(--box-shadow);
        color: var(--white);
        border-radius: 10px;
        padding: 20px 20px;
    }
    .wrapper h1{
        font-size: 26px;
        text-align: center;
        font-weight: bold;
    }
    
    .wrapper .input-box{
        position: relative;
        width: 80%;
        height: 30px;
        margin: 20px 0;
    }
    
    .input-box input{
        width: 80%;
        height: 60%;
        background: transparent;
        border: none;
        outline: none;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 40px;
        font-size: 10px;
        color: var(--white);
        padding: 10px 35px 10px 10px;
    }
    
    .input-box input::placeholder{
        color: var(--white);
    }
    
    .input-box i{
        position: absolute;
        right: 10px;
        top: 20%;
        transform: translate(-50%);
        font-size: 15px;
    }
    
    .wrapper .btn{
        width: 80%;
        height: 35px;
        background: var(--white);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        font-size: 10px;
        color: var(--black);
        font-weight: 600;
    }
    
    .wrapper .register-link{
        font-size: 10.5px;
        text-align: center;
        margin: 20px 0 15px;
    }

    .signup .wrapper{
        width: 420px;
        padding: 2rem 1rem;
        margin: 50px auto;
        background: transparent;
        border: 2px solid rgba(255,255,255,.2);
        backdrop-filter: blur(20px);
        box-shadow: var(--box-shadow);
        color: var(--white);
        border-radius: 10px;
    
    }
    .signup h1{
        margin-bottom: 1rem;
    }
    
    .signup form input{
        width: 60%;
        margin: 20px 0 20px 20px;
        outline: none;
        border: 1px solid rgba(255,255,255,.2);
        padding: 9px 10px;
        margin-bottom: 10px;
        border-radius: 40px;
        background: transparent;
        color: var(--white);
        font-size: 10px;
    }
    .signup input::placeholder{
        color: var(--white);
    }
    
    .signup .wrapper .btn{
        width: 60%;
        height: 35px;
        margin: 20px 0 20px 20px;
        padding: 10px 10px;
        background: var(--white);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        font-size: 10px;
        color: var(--black);
        font-weight: 600;
    }

    .venues{
        background: url(./Pictures/bg2.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-size: cover;
        background-position:center;
    }
    
    
    .venues .venue-wrapper{
        width: 400px;
        height: 200px;
        padding: 2rem 1rem;
        margin: 30px auto;
        background: transparent;
        border: 1px solid rgba(255,255,255,.2);
        backdrop-filter: blur(20px);
        box-shadow: var(--box-shadow);
        color: var(--white);
        border-radius: 10px;
    }
    
    .venues .venue-wrapper  h1{
        margin-bottom: 1.2rem;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    
    .venue-wrapper label{
        display: block;
        font-weight: bold;
        color: var(--white);
        font-size: 16px;
    
    }
    
    .venue-wrapper .options{
        display: flex;
        align-items: center;
    
    }
    
    .venue-wrapper .options label{
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-right: 30px;
        font-size: 16px;
    }
    
    .venue-wrapper .options input[type="checkbox"] {
        margin-right: 3px;
    }
    
    .venue-wrapper .venue-details span {
        color: var(--white);
        font-weight: bold;
        font-size: 8px;
    
    }
    .venue-wrapper .venue-details input{
        border: 2px solid rgba(255,255,255,.2);
        padding: 6px 8px;
        margin-bottom: 6px;
        border-radius: 20px;
        background: transparent;
    }
    
    .venue-wrapper .venue-details input::placeholder{
        color: var(--white);
        font-size: 8px;
    }
    
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
      }
      
      .button-container button {
        width: 37%;
        padding: 10px 20px;
        background: var(--white);
        color: var(--black);
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
    
      .venue-wrapper .venue-details textarea{
        border-radius: 20px ;
      }
    
      .venue-wrapper .options-opt{
        display: flex;
        align-items: center;
    
    }
    
    .venue-wrapper .options-opt label{
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-right: 70px;
        font-size: 10px;
    }
    
    .venue-wrapper .options-opt input[type="checkbox"] {
        margin-right: 2px;
    }
    
    .venues .venue-wrapper .btnn{
        width: 70%;
        height: 40px;
        margin: 20px 0 20px 20px;
        padding: 12px 20px;
        background: var(--white);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        font-size: 18px;
        color: var(--black);
        font-weight: 600;
        text-align: center;
    
    }
    
}

@media (max-width:991px){
    html{
        font-size:60%
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
    }

    .header .navbar div{
        display: block;
        margin:1rem;
        text-align: center;
    }

}

@media (max-width:450px){
    html{
        font-size:50%
    }
    .heading-title{
        font-size: 3.5rem;
    }
    
}

@media screen and (max-width:1200px){
    .inner-container{
      padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    .about-section{
        padding: 0;
    }
    .inner-container{
      padding: 60px;
    }
}