/* .booking-container {
    margin: 20px;
  }
  
  .booking-card {
    width: calc(33.33% - 20px); 
    margin: 10px;
    background-color: #e6e6ff;
    color: black; 
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block;
    box-sizing: border-box;
  }
  
  .booking-card:hover {
    background-color: #6B46C1;
    color: white !important;
  }

  .booking-card-content {
    margin-bottom: 10px;
  }
  
  
  .booking-card button {
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 20px;
  }
  
  .booking-card button:hover {
    opacity: 0.8;
  }

  .card-body h5{
        font-size: 27px;
        font-weight: bolder;
        margin-bottom: 10px;
  }

  .card-body p{
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
  }

  .status p{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .card-button{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .card-button button{
    padding: 15px 30px;
    border-radius: 14px;
    background-color: #6B46C1;
    color: white;
  }

  .card-button .cancel{
    background-color: rgba(255, 24, 24, 0.923);
    color: white;
  }
  
  .card-button .cancel:hover{
    background-color: rgb(164, 14, 14);
    color: white;
  }

  .card-button .approve{
    background-color: rgb(5, 201, 5);
    color: white;
  }
  
  .card-button .approve:hover{
    background-color: rgb(0, 97, 0);
    color: white;
  } */


  .booking-container {
    margin: 20px;
  }
  
  .booking-card {
    width: calc(33.33% - 20px); 
    margin: 10px;
    background-color: #e6e6ff;
    color: black; 
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block;
    box-sizing: border-box;
  }
  
  .booking-card:hover {
    background-color: #6B46C1;
    color: white; 
  }

  
  
  .booking-card-content {
    margin-bottom: 10px;
  }
  
  .booking-card button {
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 20px;
  }
  
  .booking-card button:hover {
    opacity: 0.8;
  }
  
  .card-body h5 {
    font-size: 27px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  .card-body p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .status p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .card-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-button button {
    padding: 15px 30px;
    border-radius: 14px;
    background-color: #6B46C1;
    color: white;
  }
  
  .card-button .cancel {
    background-color: rgba(255, 24, 24, 0.923);
    color: white;
  }
  
  .card-button .cancel:hover {
    background-color: rgb(164, 14, 14);
    color: white;
  }
  
  .card-button .approve {
    background-color: rgb(5, 201, 5);
    color: white;
  }
  
  .card-button .approve:hover {
    background-color: rgb(0, 97, 0);
    color: white;
  }