.reservations-container {
    margin: 20px;
  }
  
  .reservation-card {
    width: calc(33.3% - 20px);
    margin: 10px;
    background-color: #e6e6ff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* .reservation-card:hover {
    background-color: #6f42c1;
    color: white;
  } */
  
  .reservation-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .reservation-card-text {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .cancel-button {
    margin-top: 8px;
    padding: 15px 30px;
    border-radius: 14px;
    background-color: #ff5050;
    color: white;
  }
  
  .cancel-button:hover {
    opacity: 0.8;
  }
  
  .approval-message {
    margin-top: 6px;
    background-color: #077e0791;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    color: white;
  }
  .approval-message:hover {
    margin-top: 6px;
    background-color: #13b11391;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    color: white;
  }